/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.icon-half {
  transform: scale(.5);
}

.icon-75 {
  transform: scale(.75);
}

.icon-2x {
  transform: scale(2);
}

.icon-3x {
  transform: scale(3);
}

.spacer {
  flex: 1 1 auto;
}
