@use 'sass:map';
@use 'node_modules/@angular/material/index' as mat;

.result-card-content {
  padding-top: 5px;
}

.result-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.games-box {
  width: 2em;
  text-align: center;
}

.result-button {
  margin: 4px 0px;
}
